<div class="box">
    <img src="../../../assets/bg.jpg" alt="">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <h1 class="title">Login</h1>
        <nz-form-item>
            <nz-form-control nzErrorTip="please enter username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="username" placeholder="username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="please enter password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Login</button>
    </form>
</div>